:root {
    --primary-color: #0582CA;
    --secondary-color: #006494;
    --accent1-color: #FFD166;
    --accent2-color: #F7F7F7;
    --heading-font: 'Montserrat', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}

/* Reset box model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: var(--text-font);
    color: var(--secondary-color);
}

/* Center content */
header, main, footer {
    padding: 20px;
    width: 840px;
    margin: 0 auto;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    position: relative;
}

.logo {
    width: 50px;
    height: auto;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: var(--accent2-color);
    margin: 0 15px;
    text-decoration: none;
    font-family: var(--heading-font);
}

/* Headings */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Hero section */
.hero {
    position: relative; /* Reference for absolute children */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent2-color);
    opacity: 0.8;
    padding: 16px;
    max-width: 400px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
    border: 1px solid var(--secondary-color);
}

/* General styling for sections and articles */
section, article {
    margin: 16px;
    padding: 8px;
}

p {
    margin: 16px;
    padding: 8px;
}

/* Adventure section */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-items {
    text-align: center;
}

.image-items img {
    height: 80px;
    object-fit: cover;
}

.caption {
    margin: 5px 0;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

/*history section styling*/

.history-content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.history p {
    flex: 2;
    line-height: 1.6;
}
.history img {
    flex: 1;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
/* Footer styling */
footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 20px;
    text-align: center;
    position: relative;
    min-height: 70px;
}

.socialmedia a {
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    position: absolute;
    bottom:20px;
    right:20px;
}
.social-links img {
    width: 30px;
    vertical-align: middle;
}
